<form fsForm [submit]="submit">
  <fs-dialog mobileMode="float">
    @if (config.title) {
      <h1 mat-dialog-title>{{config.title}}</h1>
    }
    <mat-dialog-content tabindex="-1">
      <div class="fs-column">
        {{config.template}}
        <mat-form-field>
          <mat-label>{{config.label}}</mat-label>
          @if (config.multiline) {
            <textarea
              matInput
              cdkTextareaAutosize
              [(ngModel)]="inputValue"
              [required]="config.required"
              name="input">
            </textarea>
          }
          @if (!config.multiline) {
            <input
              matInput
              [(ngModel)]="inputValue"
              [required]="config.required"
              type="text"
              [attr.inputmode]="inputMode"
              name="input">
          }
          @if (config.suffix) {
            <div matSuffix>
              {{config.suffix}}
            </div>
          }
          <mat-hint [ngClass]="{ 'form-error': inputControl?.invalid && inputControl?.dirty }">
            @if (!inputControl || inputControl.valid || !inputControl.dirty) {
              {{config.hint}}
            } @else {
              @if (inputControl.errors?.required) {
                This field is required
              } @else if (inputControl.errors?.min) {
                Value should not be less than {{ inputControl.errors.min.min }}
              } @else if (inputControl.errors?.max) {
                Value should not be greater than {{ inputControl.errors.max.max }}
              } @else if (inputControl.errors?.numeric) {
                Value should be numeric
              } @else if (inputControl.errors?.integer) {
                Value should be an integer
              } @else if (inputControl.errors?.email) {
                This is not a valid email address
              }
            }
          </mat-hint>
        </mat-form-field>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions>
      @if (config.commitShow) {
        <button
          mat-button
          type="submit"
          color="primary">
          {{config.commitLabel}}
        </button>
      }
      @if (config.cancelShow) {
        <button mat-button [mat-dialog-close]="undefined" type="button">{{config.cancelLabel}}</button>
      }
    </mat-dialog-actions>
  </fs-dialog>
</form>
