<form fsForm [submit]="select">
  <fs-dialog mobileMode="float">
    <h2 mat-dialog-title>{{data.title}}</h2>
    <mat-dialog-content tabindex="-1">
      {{data.template}}
      <fs-autocomplete
          [fetch]="fetch"
          [fetchOnFocus]="config.fetchOnFocus"
          [displayWith]="displayWith"
          [(ngModel)]="result"
          [placeholder]="data.label"
          (ngModelChange)="change()"
          [required]="config.required"
          name="result">
        <ng-template fsAutocompleteTemplate let-data="data">
          {{ data.name }}
        </ng-template>
      </fs-autocomplete>
    </mat-dialog-content>
    <mat-dialog-actions>
      <ng-container *ngIf="!config.commitOnSelect">
        <button 
            mat-button
            color="primary"
            type="submit">
          Continue
        </button>  
      </ng-container>
      <ng-container *ngIf="data.cancelShow">
        <button 
            mat-button 
            [color]="config.commitOnSelect ? 'primary' : ''"
            [mat-dialog-close]="undefined" 
            type="button">
          {{data.cancelLabel}}
        </button>
      </ng-container>
    </mat-dialog-actions>
  </fs-dialog>
</form>