<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content tabindex="-1">
  {{data.template}}

  <mat-form-field *ngIf="!loading && !error">
    <input aria-label="State" matInput
           [placeholder]="data.label"
           [matAutocomplete]="auto"
           [value]="inputControl"
           [formControl]="inputControl">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWith" (optionSelected)="setSelectedValue($event)">
      <mat-option *ngFor="let item of filteredItems | async" [value]="item">
        <small>{{item.name}}</small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <ng-container *ngIf="loading">Please wait...</ng-container>
  <ng-container *ngIf="error">Something went wrong. Please, try again</ng-container>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="complete()" *ngIf="!error && !loading && data.commitShow">{{data.commitLabel}}</button>
  <button mat-button [mat-dialog-close]="false" *ngIf="data.cancelShow">{{data.cancelLabel}}</button>
</mat-dialog-actions>
