<fs-dialog mobileMode="float">
  <h2 mat-dialog-title>{{data.title}}</h2>
  <mat-dialog-content tabindex="-1">
    {{data.template}}
    <fs-autocomplete
        [fetch]="fetch"
        [fetchOnFocus]="config.fetchOnFocus"
        [displayWith]="displayWith"
        [(ngModel)]="result"
        [placeholder]="data.label"
        (ngModelChange)="modelChange($event)"
        [required]="true"
        name="result">
      <ng-template fsAutocompleteTemplate let-data="data">
        {{ data.name }}
      </ng-template>
    </fs-autocomplete>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="undefined" type="button" *ngIf="data.cancelShow">{{data.cancelLabel}}</button>
  </mat-dialog-actions>
</fs-dialog>
