<fs-dialog mobileMode="float">
  <h1 mat-dialog-title *ngIf="data.title">{{data.title}}</h1>
  <mat-dialog-content tabindex="-1">
    <div class="fs-column">
      {{data.template}}
      <mat-form-field>
        <mat-label>{{data.label}}</mat-label>
        <input 
          matInput 
          fsDatePicker 
          [formControl]="input" 
          name="input" 
          [view]="promptType">
        <mat-hint>
          <ng-container *ngIf="input.valid || !input.dirty; else invalidMessage">
            {{data.hint}}
          </ng-container>

          <ng-template #invalidMessage>
            <div class="form-error">
              This field is required
            </div>
          </ng-template>
        </mat-hint>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button
            *ngIf="data.commitShow"
            (click)="complete()"
            [disabled]="input.invalid"
            color="primary">
      {{data.commitLabel}}
    </button>
    <button mat-button [mat-dialog-close]="undefined" type="button" *ngIf="data.cancelShow">{{data.cancelLabel}}</button>
  </mat-dialog-actions>
</fs-dialog>
