<fs-dialog mobileMode="float">
  <h1 mat-dialog-title>
    {{ data.title }}
  </h1>
  <mat-dialog-content>
    <div class="fs-column">
      <span [innerHtml]="template"></span>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    @for (button of data.buttons; track button; let index = $index) {
      <button
        mat-button
        [fsAutofocus]="index === 0"
        (click)="close(button)"
        type="button"
        [color]="button.color"
        [ngClass]="button.class">
        {{ button.label }}
      </button>
    }
  </mat-dialog-actions>
</fs-dialog>