<fs-dialog mobileMode="float">
  <h2 mat-dialog-title>{{data.title}}</h2>
  <mat-dialog-content>
    <span [innerHtml]="template"></span>
  </mat-dialog-content>

  <mat-dialog-actions>
    <ng-container *ngFor="let button of data.buttons; let index = index">
      <button 
          mat-button
          (click)="close(button)"
          type="button"
          [color]="button.color"
          [ngClass]="button.class">
        {{button.label}}
      </button>
    </ng-container>
  </mat-dialog-actions>
</fs-dialog>
