<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content tabindex="-1">
  {{data.template}}
  <mat-form-field *ngIf="!loading && !error">
    <mat-select [placeholder]="data.label" [(value)]="result">
      <mat-option *ngFor="let item of items" [value]="item.value">
        {{ item.name }}
      </mat-option>
    </mat-select>
    <mat-hint>{{data.hint}}</mat-hint>
  </mat-form-field>
  <ng-container *ngIf="loading">Please wait...</ng-container>
  <ng-container *ngIf="error">Something went wrong. Please, try again</ng-container>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="complete()" *ngIf="!error && !loading">{{data.commitLabel}}</button>
  <button mat-button [mat-dialog-close]="false">{{data.cancelLabel}}</button>
</mat-dialog-actions>
