<form fsForm [submit]="select" [dirtySubmitButton]="false">
  <fs-dialog mobileMode="float">
    <h1 mat-dialog-title>{{data.title}}</h1>
    <mat-dialog-content tabindex="-1">
      <div class="fs-column">
        {{data.template}}
        @if (!error) {
          <mat-form-field>
            <mat-label>{{data.label}}</mat-label>
            <mat-select
              [required]="true"
              [(ngModel)]="result"
              (ngModelChange)="change()"
              name="select">
              @for (item of items; track item) {
                <mat-option [value]="item.value">
                  {{ item.name }}
                </mat-option>
              }
            </mat-select>
            <mat-hint>{{data.hint}}</mat-hint>
          </mat-form-field>
        }
        @if (error) {
          Something went wrong. Please, try again
        }
      </div>
    </mat-dialog-content>

    <mat-dialog-actions>
      @if (!config.commitOnSelect) {
        <button
          type="submit"
          mat-button
          color="primary">
          Continue
        </button>
      }
      <button
        mat-button
        [color]="config.commitOnSelect ? 'primary' : ''"
        [mat-dialog-close]="undefined"
        type="button">
        {{data.cancelLabel}}
      </button>
    </mat-dialog-actions>
  </fs-dialog>
</form>