<fs-dialog mobileMode="float">
  <h1 mat-dialog-title>
    {{ config.title }}
  </h1>
  <mat-dialog-content tabindex="-1">
    <div class="fs-column">
      {{ config.template }}
      <fs-autocomplete-chips
          #autocomplete
          [fetch]="fetch"
          [placeholder]="config.label"
          [fetchOnFocus]="true"
          [(ngModel)]="model"
          [allowText]="config.allowText"
          [allowObject]="!config.allowText"
          [validateText]="validateText"
          [required]="config.required"
          [multiple]="true"
          name="model">
        <ng-template
            fsAutocompleteChipsTemplate
            let-object="object">
          {{ object.name }}
        </ng-template>
      </fs-autocomplete-chips>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
        mat-button
        type="submit"
        [disabled]="config.required && !model.length"
        (click)="complete()"
        color="primary">
      {{ config.commitLabel }}
    </button>
    <button
        mat-button
        [mat-dialog-close]="undefined"
        type="button"
        *ngIf="config.cancelShow">
      {{ config.cancelLabel }}
    </button>
  </mat-dialog-actions>
</fs-dialog>