<fs-examples [config]="config">

  <fs-example name="Confirm" componentName="confirm">
      <confirm-example></confirm-example>
    </fs-example>

  <fs-example name="Select" componentName="select">
    <select-example></select-example>
  </fs-example>

  <fs-example name="Input" componentName="input">
    <input-example></input-example>
  </fs-example>

  <fs-example name="Autocomplete" componentName="autocomplete">
    <autocomplete-example></autocomplete-example>
  </fs-example>

  <fs-example name="Autocomplete Chips" componentName="autocomplete-chips">
    <autocomplete-chips-example></autocomplete-chips-example>
  </fs-example>

  <fs-example name="Date" componentName="date">
    <date-example></date-example>
  </fs-example>

  <fs-example name="Date Time" componentName="date-time">
    <date-time-example></date-time-example>
  </fs-example>

</fs-examples>
