<fs-examples [config]="config">

  <fs-example title="Confirm" componentName="confirm">
      <confirm-example></confirm-example>
    </fs-example>

  <fs-example title="Select" componentName="select">
    <select-example></select-example>
  </fs-example>

  <fs-example title="Input" componentName="input">
    <input-example></input-example>
  </fs-example>

  <fs-example title="Autocomplete" componentName="autocomplete">
    <autocomplete-example></autocomplete-example>
  </fs-example>

</fs-examples>
